
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

a {
    display: inline-block;
    font-size: 1em;
    color:rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    font-family:"Bruno Ace SC", sans-serif;
    transition: color 0.3s ease, font-size 0.3s ease;
    text-decoration: none;

}

    

a:hover {
    font-size: 1.5em;
    color:yellowgreen;
        font-family: fantasy;
    }
body{
    background-color:darkolivegreen;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
header {
    flex-direction: 0;
}
main {
    flex: 1;
}
.nav{
    text-align: center;
    background-color: darkgreen;
    height: 50px;
    border-bottom: 20px solid  rgb(14, 243, 33);
    border-radius: 0% 0% 25% 25%;
    box-shadow: 5px 5px 10px gold ;
}
.box{
    margin: 50px auto;
    width:100px;
    height: 100px;
    background: greenyellow;
    animation: Teste 2s ease-in-out infinite;
    border-bottom: 20px solid  rgb(14, 243, 33);
    border-radius: 0% 0% 25% 25%;
    box-shadow: 5px 5px 10px gold ;
    
}
/*definir a animação */
@keyframes Teste {
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(-50px);
    }
    
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li{
    margin: 0px;
}
footer{
    background-color: darkgreen;
    padding: 10px 20px;
    width: 100%;
    border-top: 1px solid darkolivegreen;
    text-align: center;
}
footer p {
    margin: 0px;
    color:darkolivegreen ;
}


