body {
    margin:0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px ;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: ;
}
             
.card-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin:0%;
}
.card-tittle{
    font-size: 1.5em;
    margin: 20px 0 0 0 ;
    text-align: center;
}
    .depoiment-container{
        flex: 1em;
        color: azure;
        margin:0;
        text-emphasis: center;
    }